body, html {
    height: 100%;
    margin: 0;
  }
  
body {
    /* The image used */
    background-image: url("./images/17906567.jpg");
    /* Full height */
    height: 10%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.mag-glass {
    color: #8FBC8F;
    border: 1px solid #ced4da;
}

.mag-glass:hover {
    color: #8FBC8F;
    border: 1px solid #ced4da;
}

.add-margin {
    margin-top: 3px;
    margin-bottom: 3px;
}
h1 {
    background: #F8F8FF;
    color: #8FBC8F;
    height: 90px;
    margin-bottom: 0;
    font-size: 50px;
    border-top: 3px solid #F8F8FF;
    border-bottom: 3px solid #F8F8FF;
}

a:hover {
    color: #8FBC8F;
}

.nav-style {
    background: rgba(247, 243, 243, 0.9);

}

.title{
    padding-top: 7px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #8FBC8F;
}

.container-fluid {
    margin-top: 50px;
}

.fa-teeth-open {
    position: relative;
    bottom: 2px;
    font-size: 40px;
}

.p-div {
    background: #8FBC8F;
    height: 45px;
    margin: 0;
    border-top: 3px solid #D8BFD8;

}
#motto {
    /* position: relative; */
    font-size: 15px;
    margin-top: 7px;
    color: #8FBC8F;
    /* top: 5px; */
    font-family: 'Source Sans Pro', sans-serif;
    white-space: pre;
    font-style: italic;
}

.search-params {
    margin-top: 30%;
}


div.transbox {
    background: rgba(247, 243, 243, 0.7);
    height: auto;
    padding: 15px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}


.recipe-column {
    margin-right: 0;
    margin-top: 27px;

}
.left {
    margin-top: 30px;
    margin-right: 0;
    padding-right: 15px;
}

.slide {
    /* width: 300px; */
}



#use-weather {
    margin-left: 10px;
    background: red;
}

.hide {
    display: none;
}

.stored {
    display: block;
}

.recipe-image {
    float: left;
}

#search-btn0 {
    height: 38px;
    background: #F8F8FF;
    color: #8FBC8F;
    border: solid 1px #E6E6FA;
}

hr {
    background-color: white;
    margin: 0;
}

#search-btn3 {
    height: 38px;
    background: #F8F8FF;
    color: #8FBC8F;
    border: solid 1px #E6E6FA;

}

